/* ! 
Copyright 2025 
*/

:root {
    background-color: white;
    background-image: linear-gradient(var(--color-200) 3em, white 20em);
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;

    --max-width: 1440px;
    --padding: 1rem;
    --shadow: drop-shadow(-2px 2px 5px #000000aa);
    --shadow2: drop-shadow(-5px 5px 7px #00000099);
    --shadow3: drop-shadow(-7px 5px 7px #00000099);
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --shadow2: var(--shadow);
    }
}

body {
    margin: 0;
}

header {
    /* Keep the header on top */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    margin-bottom: 1rem;
    height: 3rem;

    filter: var(--shadow);

    padding: 0 var(--padding);

    > div {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        max-width: var(--max-width);
        margin-left: auto;
        margin-right: auto;

        svg {
            height: 100%;
            width: auto;
        }

        nav {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    color: var(--color-600);
                    display: inline-block;
                    margin-left: 2rem;

                    li {
                        display: none;
                    }
                }
            }
        }
    }
}

button,
.button {
    background-color: var(--color-500);
    color: var(--color-100);
    border-radius: .5rem;
    border: none;
    padding: 1rem 1.5rem;
    font-size: small;

    &:hover {
        background-color: var(--color-600);
    }

    &:active {
        background-color: var(--color-700);
    }

    &[inverted] {
        background-color: var(--color-100);
        color: var(--color-600);
        &:hover {
            background-color: var(--color-200);
        }
        &:active {
            background-color: var(--color-300);
        }
    }

    >svg {
        height: 1em;
        width: 1em;
        vertical-align: middle;
    }

}
/* a element made to look like a button */
a, .button {
    text-decoration-line: none;
}

main {}

div[popover] {
    width: 100%;
    margin: 3rem 0 0 0;
    padding: 0;
    padding-bottom: 10px;
    display: none;
    border: none;
    background-color: transparent;

    /* Contents */
    > div:nth-child(1) {
        background-color: white;
        width: 100%;
        margin-bottom: 10px;
        min-height: 10rem;
        position:relative;
        z-index: 1;
    };

    /* Fake Shadow */
    > div:nth-child(2) {
        background-color: white;
        width: 100%;
        height: 10px;
        bottom: 10px;
        position: absolute;
        filter: var(--shadow);
    };

    & :popover-open {
        display: block;
    }
}

footer {
    /*margin-top: 2rem;*/
    background-color: var(--color-100);

    div {
        margin: auto;
        display: flex;

        max-width: var(--max-width);
        padding: 0 var(--padding);
    }
}

section {
    padding: 5rem var(--padding);

    >div {
        max-width: var(--max-width);
        margin: auto;
    }
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}

h4 {
    font-size: large
}

h5 {
    font-size: medium;
}

.hero {
    text-align: center;

    > :nth-child(1) {
        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 1rem;

        span {
            color: var(--color-500)
        }
    }

    > :nth-child(2) {
        margin: auto;
        font-size: larger;
        width: 50%
    }
}

.stats {
    display: flex;

    /*> :not(:first-child) {
        border-left: solid black;
    }*/

    div {
        width: 100%;
        text-align: center;

        :nth-child(1) {
            font-size: xx-large;
            font-weight: bold;

            &::after {
                content: " "
            }
        }

        :nth-child(2) {
            font-size: larger;
            font-weight: bold;
        }

        :nth-child(3) {
            display: block;
        }
    }
}

.card {
    background-color: var(--color-10);
    border: solid var(--color-500);
    display: inline-flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: .5rem;
    align-items: center;

    filter: var(--shadow);

    & :hover {
        filter: var(--shadow2)
    }

    transition-property: filter;
    transition-duration: 0.2s;

    svg {
        width: 100%;
        height: 100%;
    }

    > :nth-child(1) {
        padding: 16px;
        background-color: var(--color-500);
        border-radius: 8px;
        color: var(--color-100);
        justify-content: center;
        align-content: center;
        width: 2rem;
        height: 2rem;
        margin-bottom: 1rem;
    }

    > :nth-child(2) {
        font-size: x-large;
        font-weight: bold;
        color: var(--color-500);
    }

    > :nth-child(3) {
        text-align: center;
    }

    ul {
        line-height: 1.5rem;
    }
}

.card_flex {
    display: flex;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;

    >.card {
        width: 100%;
    }
}