:root {
  --flamingo-10: oklch(0.98 0.01 0);
  --flamingo-100: oklch(0.97 0.02 0);
  --flamingo-200: oklch(0.92 0.04 0);
  --flamingo-300: oklch(0.86 0.08 0);
  --flamingo-400: oklch(0.8 0.11 0);
  --flamingo-500: oklch(0.72 0.15 0);
  --flamingo-600: oklch(0.63 0.13 0);
  --flamingo-700: oklch(0.54 0.11 0);
  --flamingo-800: oklch(0.42 0.09 0);
  --flamingo-900: oklch(0.31 0.07 0);
  --flamingo-990: oklch(0.23 0.05 0);
  --pink-10: oklch(0.98 0.01 10);
  --pink-100: oklch(0.97 0.02 10);
  --pink-200: oklch(0.92 0.04 10);
  --pink-300: oklch(0.86 0.08 10);
  --pink-400: oklch(0.8 0.11 10);
  --pink-500: oklch(0.72 0.15 10);
  --pink-600: oklch(0.63 0.13 10);
  --pink-700: oklch(0.54 0.11 10);
  --pink-800: oklch(0.42 0.09 10);
  --pink-900: oklch(0.31 0.07 10);
  --pink-990: oklch(0.23 0.05 10);
  --red-10: oklch(0.98 0.01 20);
  --red-100: oklch(0.97 0.02 20);
  --red-200: oklch(0.92 0.04 20);
  --red-300: oklch(0.86 0.08 20);
  --red-400: oklch(0.8 0.11 20);
  --red-500: oklch(0.72 0.15 20);
  --red-600: oklch(0.63 0.13 20);
  --red-700: oklch(0.54 0.11 20);
  --red-800: oklch(0.42 0.09 20);
  --red-900: oklch(0.31 0.07 20);
  --red-990: oklch(0.23 0.05 20);
  --coral-10: oklch(0.98 0.01 30);
  --coral-100: oklch(0.97 0.02 30);
  --coral-200: oklch(0.92 0.04 30);
  --coral-300: oklch(0.86 0.08 30);
  --coral-400: oklch(0.8 0.11 30);
  --coral-500: oklch(0.72 0.15 30);
  --coral-600: oklch(0.62 0.13 30);
  --coral-700: oklch(0.53 0.11 30);
  --coral-800: oklch(0.42 0.09 30);
  --coral-900: oklch(0.31 0.07 30);
  --coral-990: oklch(0.23 0.05 30);
  --mahogany-10: oklch(0.98 0.01 40);
  --mahogany-100: oklch(0.97 0.02 40);
  --mahogany-200: oklch(0.92 0.04 40);
  --mahogany-300: oklch(0.86 0.08 40);
  --mahogany-400: oklch(0.8 0.11 40);
  --mahogany-500: oklch(0.72 0.15 40);
  --mahogany-600: oklch(0.62 0.13 40);
  --mahogany-700: oklch(0.53 0.11 40);
  --mahogany-800: oklch(0.42 0.09 40);
  --mahogany-900: oklch(0.31 0.07 40);
  --mahogany-990: oklch(0.23 0.05 40);
  --apricot-10: oklch(0.98 0.01 50);
  --apricot-100: oklch(0.97 0.02 50);
  --apricot-200: oklch(0.92 0.04 50);
  --apricot-300: oklch(0.86 0.08 50);
  --apricot-400: oklch(0.8 0.11 50);
  --apricot-500: oklch(0.72 0.15 50);
  --apricot-600: oklch(0.62 0.13 50);
  --apricot-700: oklch(0.53 0.11 50);
  --apricot-800: oklch(0.42 0.09 50);
  --apricot-900: oklch(0.31 0.07 50);
  --apricot-990: oklch(0.23 0.05 50);
  --bronze-10: oklch(0.98 0.01 60);
  --bronze-100: oklch(0.97 0.02 60);
  --bronze-200: oklch(0.92 0.04 60);
  --bronze-300: oklch(0.86 0.08 60);
  --bronze-400: oklch(0.79 0.11 60);
  --bronze-500: oklch(0.72 0.15 60);
  --bronze-600: oklch(0.62 0.13 60);
  --bronze-700: oklch(0.53 0.11 60);
  --bronze-800: oklch(0.42 0.09 60);
  --bronze-900: oklch(0.3 0.07 60);
  --bronze-990: oklch(0.23 0.05 60);
  --orange-10: oklch(0.98 0.01 70);
  --orange-100: oklch(0.96 0.02 70);
  --orange-200: oklch(0.92 0.04 70);
  --orange-300: oklch(0.86 0.08 70);
  --orange-400: oklch(0.79 0.11 70);
  --orange-500: oklch(0.71 0.15 70);
  --orange-600: oklch(0.62 0.13 70);
  --orange-700: oklch(0.53 0.11 70);
  --orange-800: oklch(0.41 0.09 70);
  --orange-900: oklch(0.3 0.07 70);
  --orange-990: oklch(0.22 0.05 70);
  --amber-10: oklch(0.98 0.01 80);
  --amber-100: oklch(0.96 0.02 80);
  --amber-200: oklch(0.92 0.04 80);
  --amber-300: oklch(0.85 0.08 80);
  --amber-400: oklch(0.79 0.11 80);
  --amber-500: oklch(0.71 0.15 80);
  --amber-600: oklch(0.62 0.13 80);
  --amber-700: oklch(0.53 0.11 80);
  --amber-800: oklch(0.41 0.09 80);
  --amber-900: oklch(0.3 0.07 80);
  --amber-990: oklch(0.22 0.05 80);
  --mustard-10: oklch(0.98 0.01 90);
  --mustard-100: oklch(0.96 0.02 90);
  --mustard-200: oklch(0.92 0.04 90);
  --mustard-300: oklch(0.85 0.08 90);
  --mustard-400: oklch(0.79 0.11 90);
  --mustard-500: oklch(0.71 0.15 90);
  --mustard-600: oklch(0.61 0.13 90);
  --mustard-700: oklch(0.52 0.11 90);
  --mustard-800: oklch(0.41 0.09 90);
  --mustard-900: oklch(0.3 0.07 90);
  --mustard-990: oklch(0.22 0.05 90);
  --yellow-10: oklch(0.98 0.01 100);
  --yellow-100: oklch(0.96 0.02 100);
  --yellow-200: oklch(0.92 0.04 100);
  --yellow-300: oklch(0.85 0.08 100);
  --yellow-400: oklch(0.79 0.11 100);
  --yellow-500: oklch(0.7 0.15 100);
  --yellow-600: oklch(0.61 0.13 100);
  --yellow-700: oklch(0.52 0.11 100);
  --yellow-800: oklch(0.41 0.09 100);
  --yellow-900: oklch(0.3 0.07 100);
  --yellow-990: oklch(0.22 0.05 100);
  --turmeric-10: oklch(0.98 0.01 110);
  --turmeric-100: oklch(0.96 0.02 110);
  --turmeric-200: oklch(0.91 0.04 110);
  --turmeric-300: oklch(0.85 0.08 110);
  --turmeric-400: oklch(0.78 0.11 110);
  --turmeric-500: oklch(0.7 0.15 110);
  --turmeric-600: oklch(0.61 0.13 110);
  --turmeric-700: oklch(0.52 0.11 110);
  --turmeric-800: oklch(0.41 0.09 110);
  --turmeric-900: oklch(0.3 0.07 110);
  --turmeric-990: oklch(0.22 0.05 110);
  --pear-10: oklch(0.98 0.01 120);
  --pear-100: oklch(0.96 0.02 120);
  --pear-200: oklch(0.91 0.04 120);
  --pear-300: oklch(0.85 0.08 120);
  --pear-400: oklch(0.78 0.11 120);
  --pear-500: oklch(0.7 0.15 120);
  --pear-600: oklch(0.6 0.13 120);
  --pear-700: oklch(0.52 0.11 120);
  --pear-800: oklch(0.41 0.09 120);
  --pear-900: oklch(0.3 0.07 120);
  --pear-990: oklch(0.22 0.05 120);
  --avocado-10: oklch(0.98 0.01 130);
  --avocado-100: oklch(0.96 0.02 130);
  --avocado-200: oklch(0.91 0.04 130);
  --avocado-300: oklch(0.85 0.08 130);
  --avocado-400: oklch(0.78 0.11 130);
  --avocado-500: oklch(0.69 0.15 130);
  --avocado-600: oklch(0.6 0.13 130);
  --avocado-700: oklch(0.51 0.11 130);
  --avocado-800: oklch(0.4 0.09 130);
  --avocado-900: oklch(0.3 0.07 130);
  --avocado-990: oklch(0.22 0.05 130);
  --lime-10: oklch(0.98 0.01 140);
  --lime-100: oklch(0.96 0.02 140);
  --lime-200: oklch(0.91 0.04 140);
  --lime-300: oklch(0.84 0.08 140);
  --lime-400: oklch(0.78 0.11 140);
  --lime-500: oklch(0.69 0.15 140);
  --lime-600: oklch(0.6 0.13 140);
  --lime-700: oklch(0.51 0.11 140);
  --lime-800: oklch(0.4 0.09 140);
  --lime-900: oklch(0.29 0.07 140);
  --lime-990: oklch(0.22 0.05 140);
  --green-10: oklch(0.98 0.01 150);
  --green-100: oklch(0.96 0.02 150);
  --green-200: oklch(0.91 0.04 150);
  --green-300: oklch(0.84 0.08 150);
  --green-400: oklch(0.77 0.11 150);
  --green-500: oklch(0.69 0.15 150);
  --green-600: oklch(0.6 0.13 150);
  --green-700: oklch(0.51 0.11 150);
  --green-800: oklch(0.4 0.09 150);
  --green-900: oklch(0.29 0.07 150);
  --green-990: oklch(0.22 0.05 150);
  --emerald-10: oklch(0.98 0.01 160);
  --emerald-100: oklch(0.96 0.02 160);
  --emerald-200: oklch(0.91 0.04 160);
  --emerald-300: oklch(0.84 0.08 160);
  --emerald-400: oklch(0.77 0.11 160);
  --emerald-500: oklch(0.69 0.15 160);
  --emerald-600: oklch(0.6 0.13 160);
  --emerald-700: oklch(0.51 0.11 160);
  --emerald-800: oklch(0.4 0.09 160);
  --emerald-900: oklch(0.29 0.07 160);
  --emerald-990: oklch(0.22 0.05 160);
  --aquamarine-10: oklch(0.98 0.01 170);
  --aquamarine-100: oklch(0.96 0.02 170);
  --aquamarine-200: oklch(0.91 0.04 170);
  --aquamarine-300: oklch(0.84 0.08 170);
  --aquamarine-400: oklch(0.77 0.11 170);
  --aquamarine-500: oklch(0.69 0.15 170);
  --aquamarine-600: oklch(0.59 0.13 170);
  --aquamarine-700: oklch(0.51 0.11 170);
  --aquamarine-800: oklch(0.4 0.09 170);
  --aquamarine-900: oklch(0.29 0.07 170);
  --aquamarine-990: oklch(0.21 0.05 170);
  --turquoise-10: oklch(0.98 0.01 180);
  --turquoise-100: oklch(0.96 0.02 180);
  --turquoise-200: oklch(0.91 0.04 180);
  --turquoise-300: oklch(0.84 0.08 180);
  --turquoise-400: oklch(0.77 0.11 180);
  --turquoise-500: oklch(0.68 0.15 180);
  --turquoise-600: oklch(0.59 0.13 180);
  --turquoise-700: oklch(0.51 0.11 180);
  --turquoise-800: oklch(0.4 0.09 180);
  --turquoise-900: oklch(0.29 0.07 180);
  --turquoise-990: oklch(0.21 0.05 180);
  --cyan-10: oklch(0.98 0.01 190);
  --cyan-100: oklch(0.96 0.02 190);
  --cyan-200: oklch(0.91 0.04 190);
  --cyan-300: oklch(0.84 0.08 190);
  --cyan-400: oklch(0.77 0.11 190);
  --cyan-500: oklch(0.68 0.15 190);
  --cyan-600: oklch(0.59 0.13 190);
  --cyan-700: oklch(0.51 0.11 190);
  --cyan-800: oklch(0.4 0.09 190);
  --cyan-900: oklch(0.29 0.07 190);
  --cyan-990: oklch(0.21 0.05 190);
  --electric-blue-10: oklch(0.98 0.01 200);
  --electric-blue-100: oklch(0.96 0.02 200);
  --electric-blue-200: oklch(0.91 0.04 200);
  --electric-blue-300: oklch(0.84 0.08 200);
  --electric-blue-400: oklch(0.77 0.11 200);
  --electric-blue-500: oklch(0.69 0.15 200);
  --electric-blue-600: oklch(0.59 0.13 200);
  --electric-blue-700: oklch(0.51 0.11 200);
  --electric-blue-800: oklch(0.4 0.09 200);
  --electric-blue-900: oklch(0.29 0.07 200);
  --electric-blue-990: oklch(0.21 0.05 200);
  --pelorus-10: oklch(0.98 0.01 210);
  --pelorus-100: oklch(0.96 0.02 210);
  --pelorus-200: oklch(0.91 0.04 210);
  --pelorus-300: oklch(0.84 0.08 210);
  --pelorus-400: oklch(0.78 0.11 210);
  --pelorus-500: oklch(0.69 0.15 210);
  --pelorus-600: oklch(0.6 0.13 210);
  --pelorus-700: oklch(0.51 0.11 210);
  --pelorus-800: oklch(0.4 0.09 210);
  --pelorus-900: oklch(0.29 0.07 210);
  --pelorus-990: oklch(0.21 0.05 210);
  --sky-10: oklch(0.98 0.01 220);
  --sky-100: oklch(0.96 0.02 220);
  --sky-200: oklch(0.91 0.04 220);
  --sky-300: oklch(0.85 0.08 220);
  --sky-400: oklch(0.78 0.11 220);
  --sky-500: oklch(0.69 0.15 220);
  --sky-600: oklch(0.6 0.13 220);
  --sky-700: oklch(0.51 0.11 220);
  --sky-800: oklch(0.4 0.09 220);
  --sky-900: oklch(0.29 0.07 220);
  --sky-990: oklch(0.22 0.05 220);
  --cerulean-10: oklch(0.98 0.01 230);
  --cerulean-100: oklch(0.96 0.02 230);
  --cerulean-200: oklch(0.91 0.04 230);
  --cerulean-300: oklch(0.85 0.08 230);
  --cerulean-400: oklch(0.78 0.11 230);
  --cerulean-500: oklch(0.7 0.15 230);
  --cerulean-600: oklch(0.6 0.13 230);
  --cerulean-700: oklch(0.51 0.11 230);
  --cerulean-800: oklch(0.4 0.09 230);
  --cerulean-900: oklch(0.29 0.07 230);
  --cerulean-990: oklch(0.22 0.05 230);
  --steel-10: oklch(0.98 0.01 240);
  --steel-100: oklch(0.96 0.02 240);
  --steel-200: oklch(0.92 0.04 240);
  --steel-300: oklch(0.85 0.08 240);
  --steel-400: oklch(0.78 0.11 240);
  --steel-500: oklch(0.7 0.15 240);
  --steel-600: oklch(0.61 0.13 240);
  --steel-700: oklch(0.52 0.11 240);
  --steel-800: oklch(0.41 0.09 240);
  --steel-900: oklch(0.3 0.07 240);
  --steel-990: oklch(0.22 0.05 240);
  --azure-10: oklch(0.98 0.01 250);
  --azure-100: oklch(0.96 0.02 250);
  --azure-200: oklch(0.92 0.04 250);
  --azure-300: oklch(0.85 0.08 250);
  --azure-400: oklch(0.79 0.11 250);
  --azure-500: oklch(0.7 0.15 250);
  --azure-600: oklch(0.61 0.13 250);
  --azure-700: oklch(0.52 0.11 250);
  --azure-800: oklch(0.41 0.09 250);
  --azure-900: oklch(0.3 0.07 250);
  --azure-990: oklch(0.22 0.05 250);
  --blue-10: oklch(0.98 0.01 260);
  --blue-100: oklch(0.96 0.02 260);
  --blue-200: oklch(0.92 0.04 260);
  --blue-300: oklch(0.85 0.08 260);
  --blue-400: oklch(0.79 0.11 260);
  --blue-500: oklch(0.71 0.15 260);
  --blue-600: oklch(0.61 0.13 260);
  --blue-700: oklch(0.52 0.11 260);
  --blue-800: oklch(0.41 0.09 260);
  --blue-900: oklch(0.3 0.07 260);
  --blue-990: oklch(0.22 0.05 260);
  --neon-10: oklch(0.98 0.01 270);
  --neon-100: oklch(0.96 0.02 270);
  --neon-200: oklch(0.92 0.04 270);
  --neon-300: oklch(0.85 0.08 270);
  --neon-400: oklch(0.79 0.11 270);
  --neon-500: oklch(0.71 0.15 270);
  --neon-600: oklch(0.62 0.13 270);
  --neon-700: oklch(0.53 0.11 270);
  --neon-800: oklch(0.41 0.09 270);
  --neon-900: oklch(0.3 0.07 270);
  --neon-990: oklch(0.23 0.05 270);
  --iris-10: oklch(0.98 0.01 280);
  --iris-100: oklch(0.96 0.02 280);
  --iris-200: oklch(0.92 0.04 280);
  --iris-300: oklch(0.86 0.08 280);
  --iris-400: oklch(0.79 0.11 280);
  --iris-500: oklch(0.72 0.15 280);
  --iris-600: oklch(0.62 0.13 280);
  --iris-700: oklch(0.53 0.11 280);
  --iris-800: oklch(0.42 0.09 280);
  --iris-900: oklch(0.31 0.07 280);
  --iris-990: oklch(0.23 0.05 280);
  --lavender-10: oklch(0.98 0.01 290);
  --lavender-100: oklch(0.97 0.02 290);
  --lavender-200: oklch(0.92 0.04 290);
  --lavender-300: oklch(0.86 0.08 290);
  --lavender-400: oklch(0.8 0.11 290);
  --lavender-500: oklch(0.72 0.15 290);
  --lavender-600: oklch(0.62 0.13 290);
  --lavender-700: oklch(0.53 0.11 290);
  --lavender-800: oklch(0.42 0.09 290);
  --lavender-900: oklch(0.31 0.07 290);
  --lavender-990: oklch(0.23 0.05 290);
  --violet-10: oklch(0.98 0.01 300);
  --violet-100: oklch(0.97 0.02 300);
  --violet-200: oklch(0.92 0.04 300);
  --violet-300: oklch(0.86 0.08 300);
  --violet-400: oklch(0.8 0.11 300);
  --violet-500: oklch(0.72 0.15 300);
  --violet-600: oklch(0.62 0.13 300);
  --violet-700: oklch(0.53 0.11 300);
  --violet-800: oklch(0.42 0.09 300);
  --violet-900: oklch(0.31 0.07 300);
  --violet-990: oklch(0.23 0.05 300);
  --purple-10: oklch(0.98 0.01 310);
  --purple-100: oklch(0.97 0.02 310);
  --purple-200: oklch(0.92 0.04 310);
  --purple-300: oklch(0.86 0.08 310);
  --purple-400: oklch(0.8 0.11 310);
  --purple-500: oklch(0.72 0.15 310);
  --purple-600: oklch(0.63 0.13 310);
  --purple-700: oklch(0.54 0.11 310);
  --purple-800: oklch(0.42 0.09 310);
  --purple-900: oklch(0.31 0.07 310);
  --purple-990: oklch(0.23 0.05 310);
  --fuchsia-10: oklch(0.98 0.01 320);
  --fuchsia-100: oklch(0.97 0.02 320);
  --fuchsia-200: oklch(0.92 0.04 320);
  --fuchsia-300: oklch(0.86 0.08 320);
  --fuchsia-400: oklch(0.8 0.11 320);
  --fuchsia-500: oklch(0.72 0.15 320);
  --fuchsia-600: oklch(0.63 0.13 320);
  --fuchsia-700: oklch(0.54 0.11 320);
  --fuchsia-800: oklch(0.42 0.09 320);
  --fuchsia-900: oklch(0.31 0.07 320);
  --fuchsia-990: oklch(0.23 0.05 320);
  --orchid-10: oklch(0.98 0.01 330);
  --orchid-100: oklch(0.97 0.02 330);
  --orchid-200: oklch(0.92 0.04 330);
  --orchid-300: oklch(0.86 0.08 330);
  --orchid-400: oklch(0.8 0.11 330);
  --orchid-500: oklch(0.72 0.15 330);
  --orchid-600: oklch(0.63 0.13 330);
  --orchid-700: oklch(0.54 0.11 330);
  --orchid-800: oklch(0.42 0.09 330);
  --orchid-900: oklch(0.31 0.07 330);
  --orchid-990: oklch(0.23 0.05 330);
  --byzantium-10: oklch(0.98 0.01 340);
  --byzantium-100: oklch(0.97 0.02 340);
  --byzantium-200: oklch(0.92 0.04 340);
  --byzantium-300: oklch(0.86 0.08 340);
  --byzantium-400: oklch(0.8 0.11 340);
  --byzantium-500: oklch(0.73 0.15 340);
  --byzantium-600: oklch(0.63 0.13 340);
  --byzantium-700: oklch(0.54 0.11 340);
  --byzantium-800: oklch(0.42 0.09 340);
  --byzantium-900: oklch(0.31 0.07 340);
  --byzantium-990: oklch(0.23 0.05 340);
  --mulberry-10: oklch(0.98 0.01 350);
  --mulberry-100: oklch(0.97 0.02 350);
  --mulberry-200: oklch(0.92 0.04 350);
  --mulberry-300: oklch(0.86 0.08 350);
  --mulberry-400: oklch(0.8 0.11 350);
  --mulberry-500: oklch(0.73 0.15 350);
  --mulberry-600: oklch(0.63 0.13 350);
  --mulberry-700: oklch(0.54 0.11 350);
  --mulberry-800: oklch(0.42 0.09 350);
  --mulberry-900: oklch(0.31 0.07 350);
  --mulberry-990: oklch(0.23 0.05 350);
};