:root {
  --flamingo-100: #43242e;
  --flamingo-200: #6a3c4b;
  --flamingo-300: #95576a;
  --flamingo-400: #b96c85;
  --flamingo-500: #e084a1;
  --flamingo-600: #f5a2bb;
  --flamingo-700: #f9bfcf;
  --flamingo-800: #fcdce4;
  --flamingo-900: #fdf0f3;
  --pink-100: #44242a;
  --pink-200: #6c3c44;
  --pink-300: #975661;
  --pink-400: #bc6c79;
  --pink-500: #e28493;
  --pink-600: #f8a2ae;
  --pink-700: #fbbfc6;
  --pink-800: #fddcdf;
  --pink-900: #fef0f1;
  --red-100: #442525;
  --red-200: #6c3d3d;
  --red-300: #985758;
  --red-400: #bc6d6d;
  --red-500: #e48485;
  --red-600: #f9a3a2;
  --red-700: #fdc0be;
  --red-800: #fddcdb;
  --red-900: #fff0f0;
  --coral-100: #452520;
  --coral-200: #6c3d36;
  --coral-300: #98584e;
  --coral-400: #bc6e62;
  --coral-500: #e48677;
  --coral-600: #f9a496;
  --coral-700: #fcc0b6;
  --coral-800: #fdddd7;
  --coral-900: #fff1ee;
  --mahogany-100: #44261c;
  --mahogany-200: #6b3f2f;
  --mahogany-300: #965a45;
  --mahogany-400: #ba7057;
  --mahogany-500: #e18869;
  --mahogany-600: #f7a68b;
  --mahogany-700: #fac2ae;
  --mahogany-800: #fcddd3;
  --mahogany-900: #fef1ec;
  --apricot-100: #422718;
  --apricot-200: #694029;
  --apricot-300: #935c3c;
  --apricot-400: #b7734c;
  --apricot-500: #dd8c5d;
  --apricot-600: #f2a97f;
  --apricot-700: #f7c4a8;
  --apricot-800: #fbdecf;
  --apricot-900: #fdf1ea;
  --bronze-100: #402814;
  --bronze-200: #664224;
  --bronze-300: #8f5f34;
  --bronze-400: #b27643;
  --bronze-500: #d78f51;
  --bronze-600: #edac76;
  --bronze-700: #f3c6a2;
  --bronze-800: #f8dfcc;
  --bronze-900: #fcf2ea;
  --orange-100: #3e2a11;
  --orange-200: #63441f;
  --orange-300: #8b612e;
  --orange-400: #ac793a;
  --orange-500: #d09348;
  --orange-600: #e6b06f;
  --orange-700: #eec89d;
  --orange-800: #f5e1ca;
  --orange-900: #faf2e8;
  --amber-100: #3b2b0f;
  --amber-200: #5e461b;
  --amber-300: #84642a;
  --amber-400: #a57d35;
  --amber-500: #c79842;
  --amber-600: #deb46b;
  --amber-700: #e7cb9b;
  --amber-800: #f1e2c8;
  --amber-900: #f9f3e8;
  --mustard-100: #372d0e;
  --mustard-200: #58481a;
  --mustard-300: #7d6728;
  --mustard-400: #9b8133;
  --mustard-500: #bc9c3f;
  --mustard-600: #d4b769;
  --mustard-700: #e0cd9a;
  --mustard-800: #ede3c8;
  --mustard-900: #f7f3e7;
  --yellow-100: #342e0f;
  --yellow-200: #534b1c;
  --yellow-300: #756a29;
  --yellow-400: #928434;
  --yellow-500: #b0a041;
  --yellow-600: #c8bb6a;
  --yellow-700: #d8d09b;
  --yellow-800: #e9e5c9;
  --yellow-900: #f5f4e8;
  --turmeric-100: #2f2f10;
  --turmeric-200: #4c4d1f;
  --turmeric-300: #6c6d2e;
  --turmeric-400: #868839;
  --turmeric-500: #a3a446;
  --turmeric-600: #bcbf6f;
  --turmeric-700: #d0d29d;
  --turmeric-800: #e4e6c9;
  --turmeric-900: #f4f4e9;
  --pear-100: #2a3114;
  --pear-200: #444e22;
  --pear-300: #626f33;
  --pear-400: #7a8b41;
  --pear-500: #95a850;
  --pear-600: #afc275;
  --pear-700: #c7d5a1;
  --pear-800: #dfe7cb;
  --pear-900: #f1f5e9;
  --avocado-100: #253217;
  --avocado-200: #3d5028;
  --avocado-300: #57713a;
  --avocado-400: #6d8d4a;
  --avocado-500: #85ab5b;
  --avocado-600: #a1c57e;
  --avocado-700: #bed7a6;
  --avocado-800: #dbe8ce;
  --avocado-900: #f0f5ea;
  --lime-100: #1f331b;
  --lime-200: #34512e;
  --lime-300: #4c7343;
  --lime-400: #5f8f54;
  --lime-500: #74ae67;
  --lime-600: #94c888;
  --lime-700: #b4d8ad;
  --lime-800: #d6e9d1;
  --lime-900: #edf6ec;
  --green-100: #19331f;
  --green-200: #2b5235;
  --green-300: #3f744c;
  --green-400: #50915f;
  --green-500: #62b075;
  --green-600: #85c993;
  --green-700: #acdab4;
  --green-800: #d1ead5;
  --green-900: #ebf6ed;
  --emerald-100: #133324;
  --emerald-200: #22533c;
  --emerald-300: #337555;
  --emerald-400: #40926b;
  --emerald-500: #4fb182;
  --emerald-600: #78cba0;
  --emerald-700: #a4dbbc;
  --emerald-800: #ceebda;
  --emerald-900: #eaf6ef;
  --aquamarine-100: #0c3328;
  --aquamarine-200: #185342;
  --aquamarine-300: #26765f;
  --aquamarine-400: #2f9376;
  --aquamarine-500: #3bb290;
  --aquamarine-600: #6acbab;
  --aquamarine-700: #9ddbc4;
  --aquamarine-800: #cbebde;
  --aquamarine-900: #e9f7f1;
  --turquoise-100: #06332c;
  --turquoise-200: #0e5349;
  --turquoise-300: #177668;
  --turquoise-400: #1d9281;
  --turquoise-500: #26b29e;
  --turquoise-600: #61cbb8;
  --turquoise-700: #99dbcd;
  --turquoise-800: #c8ebe3;
  --turquoise-900: #e9f7f3;
  --cyan-100: #033331;
  --cyan-200: #04524f;
  --cyan-300: #0a7571;
  --cyan-400: #0a928d;
  --cyan-500: #0db1ab;
  --cyan-600: #5acbc4;
  --cyan-700: #95dbd5;
  --cyan-800: #c7ebe7;
  --cyan-900: #e8f6f5;
  --electric-blue-100: #023335;
  --electric-blue-200: #035256;
  --electric-blue-300: #037479;
  --electric-blue-400: #009197;
  --electric-blue-500: #00b0b8;
  --electric-blue-600: #57cad0;
  --electric-blue-700: #94dbde;
  --electric-blue-800: #c7ebec;
  --electric-blue-900: #e8f7f7;
  --pelorus-100: #033239;
  --pelorus-200: #06515c;
  --pelorus-300: #0b7382;
  --pelorus-400: #0d90a1;
  --pelorus-500: #10aec3;
  --pelorus-600: #5ac9db;
  --pelorus-700: #95dae6;
  --pelorus-800: #c7eaf0;
  --pelorus-900: #e7f6f8;
  --sky-100: #08323d;
  --sky-200: #0f5061;
  --sky-300: #1a7289;
  --sky-400: #208eaa;
  --sky-500: #28acce;
  --sky-600: #61c7e5;
  --sky-700: #98d8ec;
  --sky-800: #c8e9f4;
  --sky-900: #e8f6fa;
  --cerulean-100: #0e3141;
  --cerulean-200: #194f66;
  --cerulean-300: #27708f;
  --cerulean-400: #328cb3;
  --cerulean-500: #3eaad8;
  --cerulean-600: #6bc4ed;
  --cerulean-700: #9ed7f3;
  --cerulean-800: #cbe8f7;
  --cerulean-900: #e9f5fc;
  --steel-100: #143043;
  --steel-200: #234e6b;
  --steel-300: #346e95;
  --steel-400: #428ab9;
  --steel-500: #51a7e0;
  --steel-600: #78c2f4;
  --steel-700: #a4d5f7;
  --steel-800: #cee7fa;
  --steel-900: #eaf5fd;
  --azure-100: #1a2f45;
  --azure-200: #2c4c6d;
  --azure-300: #416c99;
  --azure-400: #5187be;
  --azure-500: #63a4e5;
  --azure-600: #86bffa;
  --azure-700: #acd2fb;
  --azure-800: #d1e6fc;
  --azure-900: #ecf4fe;
  --blue-100: #202e47;
  --blue-200: #354b6f;
  --blue-300: #4c6a9c;
  --blue-400: #6084c1;
  --blue-500: #74a0e9;
  --blue-600: #93bbfd;
  --blue-700: #b4d0fd;
  --blue-800: #d5e5fd;
  --blue-900: #edf4fe;
  --neon-100: #252d47;
  --neon-200: #3d4970;
  --neon-300: #57689c;
  --neon-400: #6d81c2;
  --neon-500: #849dea;
  --neon-600: #a1b8fd;
  --neon-700: #bdcefe;
  --neon-800: #dae4fe;
  --neon-900: #eff3ff;
  --iris-100: #2a2c47;
  --iris-200: #454770;
  --iris-300: #62659c;
  --iris-400: #7a7ec2;
  --iris-500: #9499ea;
  --iris-600: #aeb5fd;
  --iris-700: #c6cbfe;
  --iris-800: #dfe2fd;
  --iris-900: #f1f3fe;
  --lavender-100: #2e2a46;
  --lavender-200: #4b456e;
  --lavender-300: #6b629a;
  --lavender-400: #867bbf;
  --lavender-500: #a295e7;
  --lavender-600: #bbb1fa;
  --lavender-700: #cec9fb;
  --lavender-800: #e3e1fc;
  --lavender-900: #f3f2fd;
  --violet-100: #332944;
  --violet-200: #52436b;
  --violet-300: #746097;
  --violet-400: #9078bb;
  --violet-500: #ae92e2;
  --violet-600: #c6aef5;
  --violet-700: #d7c7f8;
  --violet-800: #e8e0fb;
  --violet-900: #f5f2fd;
  --purple-100: #372842;
  --purple-200: #574268;
  --purple-300: #7b5e91;
  --purple-400: #9a75b5;
  --purple-500: #ba8edb;
  --purple-600: #d1abef;
  --purple-700: #dfc5f4;
  --purple-800: #eddff8;
  --purple-900: #f7f1fb;
  --fuchsia-100: #3a273f;
  --fuchsia-200: #5d4064;
  --fuchsia-300: #825b8b;
  --fuchsia-400: #a273ad;
  --fuchsia-500: #c48bd1;
  --fuchsia-600: #dba8e7;
  --fuchsia-700: #e6c3ee;
  --fuchsia-800: #f1def5;
  --fuchsia-900: #f9f1fa;
  --orchid-100: #3e263b;
  --orchid-200: #613f5e;
  --orchid-300: #895a84;
  --orchid-400: #aa70a5;
  --orchid-500: #cd89c7;
  --orchid-600: #e4a6dd;
  --orchid-700: #edc1e8;
  --orchid-800: #f4ddf1;
  --orchid-900: #fbf1f9;
  --byzantium-100: #402537;
  --byzantium-200: #653e58;
  --byzantium-300: #8e587c;
  --byzantium-400: #b06e9b;
  --byzantium-500: #d586bb;
  --byzantium-600: #eba4d3;
  --byzantium-700: #f2c0e0;
  --byzantium-800: #f8dced;
  --byzantium-900: #fcf0f7;
  --mulberry-100: #412532;
  --mulberry-200: #683d52;
  --mulberry-300: #925774;
  --mulberry-400: #b56d90;
  --mulberry-500: #db85af;
  --mulberry-600: #f1a3c7;
  --mulberry-700: #f6bfd8;
  --mulberry-800: #fadce9;
  --mulberry-900: #fdf0f5;
};