@import url("colors.min.css");

:root {
    background-color: var(--green-10);
    background-image: linear-gradient(var(--green-100), var(--green-10) 25vh);
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--foreground);
}

body {
    margin: 0;
}

header {
    /* Keep the header on top */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    border-bottom: solid var(--green-400) 1px;
    margin-bottom: 1em;
    height: 3em;

    div {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;

        img {
            height: 100%;
            width: auto;
        }

        nav {
            ul {
                list-style-type: none;
                padding: 0;

                li {
                    color: var(--green-6500);
                    display: inline-block;
                    margin-left: 2em;
                    font-size: large;

                    li {
                        display: none;
                    }
                }
            }
        }
    }
}

main {
    max-width: 1440px;
    margin: auto;
}

footer {}

.split {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;


    div {
        display: inline-flex;
    }
}

.stats {
    display: flex;

    > :not(:first-child) {
        border-left: solid black;
    }

    div {
        width: 100%;
        text-align: center;

        :nth-child(1) {
            font-size: xx-large;
            font-weight: bold;

            &::after {
                content: " "
            }
        }

        :nth-child(2) {
            font-size: larger;
            font-weight: bold;
        }

        :nth-child(3) {
            display: block;
        }
    }
}

.card {
    background-color: var(--color-muted2);
    border: solid var(--color);
    display: inline-flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: .5rem;

    filter: drop-shadow(-3px 3px 5px #000000aa);

    svg {
        width: 100%;
        height: 100%;
    }

    > :nth-child(1) {
        padding: 16px;
        background-color: var(--color-muted);
        border-radius: 8px;
        color: var(--color);
        justify-content: center;
        align-content: center;
        width: 2rem;
        height: 2rem;
    }

    > :nth-child(2) {
        font-size: x-large;
        font-weight: bold;
        color: var(--color)
    }
}

.grid {
    display: grid;
    gap: 2rem;
}